header{
   background: #BBBBBB;
   padding: 20px 0;
}

.caixa{
   position: relative;
   width: 940px;
   margin: 0 auto;
}

nav {
   position: absolute;
   top: 110px;
   right: 0;
}

nav li{
   display: inline;
   margin: 0 0 0 15px ;
}
nav a {
   text-transform: uppercase;
   color: #000000;
   font-weight: bold;
   font-size: 22px;
   text-decoration: none;
}
 nav a:hover {
   color: #C78C19;
   text-decoration: underline;
 }

.produtos {
   width: 940px;
   margin: 0 auto;
   padding: 50px 0;
}
.produtos li {
   display: inline-block;
   text-align: center;
   width: 30%;
   vertical-align: top;
   margin: 0 1.3%;
   padding: 30px 20px;
   box-sizing: border-box;
}





























body {

}

#banner{
   width: 100%;
}

.principal{
   background: #CCCCCC;
   padding-left: 30px;
}

.titulo-principal{
   padding-left: 20px;
}

.titulo-centralizado{
   text-align: center;
}

p{
   text-align: center;
}

#missao{
   font-size: 20px;
}

em strong {
   color: #FF0000;
}
























.itens{
   font-style: italic;
}

.beneficios{
   background: #FFFFFF;
   padding: 20PX;
}

UL {
   display: inline-block;
   vertical-align: TOP;
   width: 20%;
   margin-right: 15%;
}

.imagenbeneficios{
   width: 50%;
}